html{
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body
 {
  font-family:'robot',sans-serif ;
  color : #333; 
  padding: 0;
  margin: 0;
 }

.img  /*images*/
 {                                        
  max-width : 100% ;
  border: 5px;
  height : auto ; 
  -moz-opacity: 20px;
 }

 .site-header{  /* header*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 4rem; 
  transition: all .5s;
 }

 .site-header.onTop {
  background-color: rgba(64, 105, 116, 0.8);
 }

 .wrapper02{
   /* overflow:hidden; */
  width: 100%;
  height: 100%;
   }

.image09{
  width: 12rem;
  height : 7rem;  
  margin-left:7rem;
  margin-top: 20px;
  transition: all .5s;
  }

.onTop > .wrapper02 > .image09 {
  margin-top: 0px;
  width: 10rem;
   height : 5rem; 
} 
.primary{
   display : flex;
   margin: 40px;
   padding: 0;
   float: right;
   height: 100%;
   transition: all .5s;
 }
 
.onTop > .wrapper02 > .primary {
  margin: 0;
}

.primary  > .ul{
   height: 100%;
   margin: 0;
   margin-right: 2rem;
   padding: 0;
 }
 
.primary  > .ul > .li{
   list-style: none;
   float:left;
   font-weight: 50;
   color: #fff;
   font-size: 1.4rem;
   height: 100%;
   margin: 0;
 }
 
 
.primary  > .ul > .li > .a{
   margin: 0;
   padding: 20px 40px;
   color:#FFF;
   text-decoration: none;
   display: block;
   transition: all .5s;
 }
 
.onTop > .wrapper02 > .primary  > .ul > .li > .a{
   padding: 20px;
 } 

.primary  > .ul > .li > .btn{
   background-color: #264257;
   color: #FFF;
   text-decoration: none;
   margin: 10px 0;
   padding: 10px 20px;
   border-radius: 5px;
 }

.onTop > .wrapper02 > .primary  > .ul > .li > .btn {
  padding: 10px 20px;
 }


.large-hero  /*  your clarity*/
 {                 
  position: relative;
  border-bottom: 10px solid #d59541;
  padding: 0;
  margin:0;
 }
.large-hero__image
 {
  display: block;
  width: 100%;
  height : 32rem;  
  position: relative;
}
.large-hero__text-content  /*position on images*/
{                     
  position: absolute;
  top:50%;
  transform: translateY(-88%);
  left: 0;
  width: 100%;
  text-align: center;
}
.large-hero h1  /*your clarity  heading 1 */
{                                
  font-weight: 300;
  color: #2f5572;
  margin: 0;
  padding-top: 95rem;
  font-size: 5rem;
}
.large-hero__subtitle     /*one trip away*/
{                               
  font-weight: 50;
  color: #2f5572;
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 450px) {
  .large-hero__subtitle {
    font-size: 3rem;
  }
}

.large-hero__description /*text*/
{
  color: #999;
  font-size: 1.3rem;
  font-weight: 50;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;}
.btn02
{
  background-color: #d59541;
  color: #FFF;
  text-decoration: none;
  padding: 0.7rem 1.9rem;
  display: inline-block;
  font-size: 1.25;
}  

.roe01
{
  width : 60rem ;
  border: 5px;
  height : 20rem; 
  margin-bottom: 2rem;
  position: relative;
  padding-right: 0rem;
}

.blue-page-section{      /*our features*/
  background-color: #2f5572;
  color: #FFF
}
.wrapper{
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 30px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper05{
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 976px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  text-align: center;
  
}

.wrapper05 > h2,
.wrapper05 > p {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.wrapper05 > p {
  margin-bottom: 80px;
  margin-top: -20px;
}

.image02{
  max-width: 100%;
  max-height : 70px;  
  margin-left: -5rem;
  position: relative;
  padding-top:1rem;
}
.section-title{
  font-size: 3.85rem;
  font-weight: 300;
  text-align: center;}
.row06{
  padding-right: 65px;
  box-sizing: border-box;
  font-weight: 300;
}
.row04{
  float: left;
  width: 50%;
  padding-right: 65px;
  padding-left: 0px;
  margin-left: 2rem; 
}
.feature-item{
  position: relative;
  padding-left: 94px;
}
.image04, .icon{  /*global guide ?&& survival kit image*/
  max-width : 100% ;
  border: 5px;
  max-height : 4.5rem; 
  margin-left: -1.5rem;
  position: absolute;
  padding-right: 0rem;
  font-size: 70px;

}
.features01{
  font-size: 1.875rem;
  font-weight:300;
  padding-left: 70px;
  margin-bottom: 0.2rem ;
  margin-top: 0rem;
}
.text02{
  font-size: 1rem;
  padding-left: 70px;
  padding-right: 65px;
  font-weight: 200;
  margin-top: 0.2rem;
  padding-bottom: 2rem;
  width: 20rem;
}
.row5{
  float: right;
  width: 50%;
  padding-right: 65px;
  padding-left: 0px; 
}
.image9, .icon{/*global guide ?&& survival kit image*/
  max-width : 100% ;
  border: 5px;
  max-height : 4.5rem; 
  margin-left: -3.5rem;
  position: absolute;
  
}
.features02{
  font-size: 1.875rem;
  font-weight:300;
  padding-left: 680px;
  margin-bottom: 0.2rem;
  margin-top: 4.8rem;
}
.features03{
  font-size: 1.875rem;
  font-weight:300;
  padding-left: 70px;
  margin-bottom: 0.2rem ;
  margin-top: 3rem; 
}
.text03{
  font-size: 1rem;
  padding-left: 685px;
  font-weight: 200;
  margin-top: 0.2rem;
  padding-bottom: 2rem;
  width: 20rem;
}
.page-section{                 /*our begning*/
  padding: 5rem 0;
  background: url('image/pic02.jpg') top center no repeat;
  background-size: cover; 
}
.wrapper03{
  overflow:hidden;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 0px;
  margin-left: auto;
  margin-right: auto;
}
.headline{
  font-weight: 300;
  font-size: 2.875rem;
  color: #2c5676;
  text-align: center;
  max-width: 1200px;
  margin: 0em;
}
.headline02{
  font-weight: 300;
  font-size: 1.875rem;
  color: #2f5572;
  text-align: center;
  /* max-width: 500px; */
  margin-left: auto;
  margin-right:auto;
  margin: 1.6em;
  padding-left: 250px; 
  margin-top: 0em;
}
.row{ 
  padding-right: 65px;
  box-sizing: border-box;
}
.row01{
  float: left;
  width: 33.33%;
  padding-right: 0px;
  padding-left: 0px;
  height: 30rem; 
  width: 17rem;
}
.row02{
  float:left;
  width: 66.66%;
  padding-right: 0px;
  padding-left: 0px;
}
.headline03{
  font-weight: 300;
  font-size: 2rem;
  color: #2f5572;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right:auto;
  padding-left: 0px; 
  margin-top: 0em;
}
.text01{
  font-size: 1.125rem;
  line-height: 1.3;
  margin: 1.8rem 0rem;
  font-weight: 300;
  text-align: left;
  margin-top: 0rem;
  padding-left: 60px;
}
.testimonial{/*real testimonial*/
  background-color: #2c5676;
  height: 28rem;
  padding: 0px 1rem;
  width: 16rem;
  position: relative;
  border-radius: 0 10px 10px 10px;
}
.page-section02{
  padding: 5rem 5rem;
  background: url('/image/prac01.jpg') top center no repear;
  background-size: cover;
}
.wrapper01{
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 976px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.785rem;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}
.image05, .icon1{
  max-width : 100% ;
  border: 5px;
  max-height : 90px; ; 
  margin-right: 2rem;
  position: absolute;
  padding-left: 150px;
  margin-top: 3.8rem;
  font-size: 3.85rem;
  color: #2c5676;
}
.section-title01{
  font-size: 3.85rem;
  font-weight: 300;
  text-align: center;
  padding-left: 2rem; 
  color: #2c5676
}
.row03{
  float: left;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.row07{
  box-sizing: border-box;
  float: left;
  padding: 0;
  width: 33.33%;
  margin-top: 100px;
}
.image03{      /*we'll watch && wi fi image*/
  border-radius: 100px;
  overflow: hidden;
  width: 160px;
  height : 160px; 
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  border: 6px solid rgba(255, 255, 255, 0.8);
 } 

.features04{ 
  font-size: 2rem;
  text-align:center;
  color: #fff;
  font-weight:100;
  margin-bottom: -1rem ;
  margin-top: 0rem;
  padding-top: 100px;  
}
.text06{
  font-size: 1.1rem;
  color: #d59541;
  text-align: center;
  padding-left: 0px;
  font-weight: 10px;
  margin-top: 1.5rem;  
}
.text05{
  color:#FFF;
  font-weight: 50px;
  text-align: center;
}
.site-footer{      /*footer*/
  background-color: #2f5572;
  color:#fff;
  padding: 0.5rem 0;
  text-align: center;
}
.text07{
  margin-right: 5rem;
}
.btn01{
  background-color: #d59541;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  margin-left: 1.4rem;
  }


  .container0 {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 55vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 0%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

/*   form
 */   
 .main{ 
	padding:20px; 
	font-family: 'Helvetica', serif; 
	box-shadow: 5px 5px 7px 5px #888888; 
	
} 
.main h1{ 
	font-size: 40px; 
	text-align:center; 
	font-family: 'Helvetica', serif; 
	
} 
input{ 
	font-family: 'Helvetica', serif; 
	width: 100%; 
	font-size: 20px; 
	padding: 12px 2px; 
	margin: 8px 0; 
	border: none; 
	border-bottom: 2px solid #767474; 
} 
input[type=submit] { 
	font-family: 'Helvetica', serif; 
	width: 100%; 
	background-color: #767474; 
	border: none; 
	color: white; 
	padding: 16px 32px; 
	margin: 4px 2px; 
	border-radius: 10px; 
} 
